keystore.properties
*.iml
.gradle/
.kotlin/
local.properties
/.idea/caches
/.idea/libraries
/.idea/androidTestResultsUserPreferences.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
.DS_Store
**/build/
/captures/
.externalNativeBuild
