<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <!-- Foreground service to prevent browser games from being killed
        when the user switches to another app -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Show warning to the user if manually checking updates with no Internet connection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:appCategory="game"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:manageSpaceActivity="garden.appl.mitch.ui.MainActivity$LibraryActivity"
            android:name=".Mitch"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:hardwareAccelerated="true"
            android:requestLegacyExternalStorage="true">

        <!-- https://developer.android.com/guide/webapps/webview-privacy -->
        <meta-data android:name="android.webkit.WebView.MetricsOptOut" android:value="true" />

        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing" android:value="false" />


        <activity
                android:name=".ui.MainActivity"
                android:exported="true"
                android:theme="@style/SplashScreenTheme"
                android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|uiMode" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                    android:priority="50">
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="itch.io" />
                <data android:host="*.itch.io" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.OwnedGamesActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:exported="true"
                android:label="@string/library_category_owned">
            <intent-filter
                    android:priority="51">
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="itch.io" />
                <data android:path="/my-purchases" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.CrashDialog"
                android:process=":acra"
                android:theme="@style/DialogStyle"
                android:excludeFromRecents="true"
                android:finishOnTaskLaunch="true"
                android:launchMode="singleInstance"/>
        <activity
                android:name=".install.NativeInstallerActivity"
                android:exported="false"
                android:theme="@style/DialogStyle"
                android:excludeFromRecents="true"
                android:finishOnTaskLaunch="true"
                android:launchMode="singleInstance"/>
        <activity
                android:name=".ui.GameActivity"
                android:launchMode="singleTask"
                android:taskAffinity="garden.appl.mitch.webgame"
                android:theme="@style/AppTheme.Fullscreen"
                android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|uiMode"/>
        <activity
                android:exported="true"
                android:name=".ui.MainActivity$LibraryActivity"
                android:theme="@style/SplashScreenTheme" />

        <receiver
                android:name=".install.InstallRequestBroadcastReceiver"
                android:exported="false" />
        <receiver
                android:name=".files.DownloadCancelBroadcastReceiver"
                android:exported="false" />
        <receiver
                android:name=".client.UpdateNotificationBroadcastReceiver"
                android:exported="false" />
        <receiver
                android:name=".ErrorReportBroadcastReceiver"
                android:exported="false" />
        <receiver
                android:name=".install.UninstallBroadcastReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
                android:name=".install.SelfUpdateBroadcastReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <service android:name=".install.SessionInstallerService" />
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="ua.gardenapple.itchupdater.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>
        <service android:name=".ui.GameForegroundService" />
    </application>
    <!-- Required for 'Open in default web browser' function -->
    <!-- https://stackoverflow.com/questions/2201917/how-can-i-open-a-url-in-androids-web-browser-from-my-application#61488105 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="https" />
        </intent>
    </queries>
</manifest>